.header {
    padding: 1rem;
    position: absolute;
    top: 0;   
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff27;
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #d3d2d2;
}

.header__nav {
    width: auto;
}

.nav__links {
    width: 100%;
    list-style: none;
}

.link__contact {
    padding:  .6rem 1rem;
    border-radius: 7px;
    width: 5rem;
    color: #fff;
    background-color: #276afa;
}

.link {
    color: #262627;
    padding: 1rem;
}

.link, .link__contact {
    font-weight: 600;
    text-decoration: none;  
}